@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

body {
    font-family: "Inter", sans-serif;

    & button {
        text-transform: none !important;
    }

    & .filter-container {
        background-color: #efefef;
        box-shadow: 0px 0px 3px #bbbbbb !important;
        border: none !important;
        margin-bottom: 0.7rem;
        position: inherit !important;
    }

    & .MuiBreadcrumbs-root {
        display: inline-block !important;
    }

    // /* Default border color */
    // & .MuiOutlinedInput-root fieldset {
    //     border-color: blue !important; /* Default border color */
    // }
    
    // /* Hover border color */
    // & .MuiOutlinedInput-root:hover fieldset {
    //     border-color: green !important; /* Border color when hovered */
    // }
    
    // /* Focus border color */
    // & .MuiOutlinedInput-root.Mui-focused fieldset {
    //     border-color: red !important; /* Border color when focused */
    // }
    
    // /* Error state border color */
    // & .MuiOutlinedInput-root.Mui-error fieldset {
    //     border-color: orange !important; /* Border color when there's an error */
    // }
}